Simple/.vs/Simple/v16/.suo
Simple/.vs/Simple/v16/Browse.VC.db
Simple/.vs/Simple/v16/ipch/AutoPCH/f8b9aad139f528a3/MAIN.ipch
Simple/Debug/main.obj
Simple/Debug/Simple.exe
Simple/Debug/Simple.ilk
Simple/Debug/Simple.log
Simple/Debug/Simple.pdb
Simple/Debug/vc142.idb
Simple/Debug/vc142.pdb
Simple/Debug/Simple.tlog/CL.command.1.tlog
Simple/Debug/Simple.tlog/CL.read.1.tlog
Simple/Debug/Simple.tlog/CL.write.1.tlog
Simple/Debug/Simple.tlog/link.command.1.tlog
Simple/Debug/Simple.tlog/link.read.1.tlog
Simple/Debug/Simple.tlog/link.write.1.tlog
Simple/Debug/Simple.tlog/Simple.lastbuildstate
